body {
  height: 100%;
  width: 100%;
  background: url(https://carriesfish.neocities.org/A8948B66-6A4F-4EC6-A8D2-2B1B4B184504_1_105_c.jpeg)
    no-repeat;
  background-size: cover;
  font-family: lato, calibri, Verdana, Arial, Helvetica, sans-serif;
  font-size: 9px;
  text-shadow: 0px 0px 1px #bbb;
  color: #777;
  letter-spacing: 1px;
}

a:link,
a:visited,
a:active {
  font: 11px arial;
  color: #777;
  text-decoration: none;
}

.feed-container .content .item {
  margin: 0 0 7px 0;
  padding: 0 0 7px 0;
  border-bottom: 1px dashed #cccccc;
}
.feed-container .content .item .title {
  margin: 1px 0 1px 3px;
  padding: 1px 2px 1px 3px;
  color: #5a4860;
  font-weight: bold;
}
.feed-container .header .title {
  margin: 0;
  padding: 0;
  font-weight: bold;
}
.feed-container .content .item .description {
  margin: 0 0 0 3px;
  padding: 0 2px 0 3px;
  color: #777;
}

::-webkit-scrollbar-thumb {
  background-color: #c2c9b5;
  border-radius: 0px;
  border: 1px solid #ccc;
}
::-webkit-scrollbar {
  width: 8px;
  height: 0px;
  background: transparent;
}

a:hover {
  color: #999;
}

b {
  color: #d18e8c;
  font-weight: normal;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fffff3;
}

li {
  float: left;
}

button {
  display: block;
  background: #ebede6;
  margin-bottom: 1px;
  padding-left: 5px;
  text-transform: uppercase;
  border-left: 5px solid #c2c9b5;
  letter-spacing: 2px;
  font: 9px monospace, arial;
  color: #333;
}

button:hover {
  display: block;
  background: #f5f5f5;
  margin-bottom: 1px;
  padding-left: 5px;
  text-transform: uppercase;
  border-left: 5px solid #d18e8c;
  letter-spacing: 2px;
  font: 9px monospace, arial;
  color: #666;
}

#layout {
  margin: 50px auto;
  width: 775px;
}

#headerimage {
  width: 860px;
  height: 100px;
  background: url(https://carriesfish.neocities.org/photocollect/carriesheader6.png)
    no-repeat;
  background-size: cover;
  float: left;
  margin: 0 auto;
}

#navigation2 {
  width: 775px;
  height: 97px;

  background: #c2c9b5;
  border: 2px solid #c2c9b5;
  margin: 0px;
}

.threeFlex {
  display: flex;
  flex-direction: row;
}

#leftside {
  width: 180px;
  height: 1100px;
  background: #fffff3;
  border: 1px solid #c2c9b5;
  float: left;
  margin: 0 auto;
  padding: 3px;
  padding-top: 8px;
  border-right: 1px solid #c2c9b5;
}

#rightside {
  width: 150px;
  height: 1100px;
  float: left;
  margin: 0 auto;
  background: #fffff3 url();
  border: 1px solid #c2c9b5;
  margin: 0px;
  padding: 3px;
  padding-top: 8px;
  border-left: 1px solid #c2c9b5;
}

.middle {
  width: 558px;
  height: 1100px;
  display: grid;
  background-image: url(https://carriesfish.neocities.org/photocollect/carriebackgrondmewo.png);
  background-size: 560px, 1100px;
  background-repeat: no-repeat;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

#content1 {
  width: 560px;
  height: 1100px;
  float: left;
  margin: 0 auto;
}

#content2 {
  background: #fffff3 url();
  border: 1px solid #c2c9b5;

  margin: 0px;
  padding: 0px;
}

.title {
  font: 10px arial;
  color: #4a4f41;
  background: #c2c9b5;
  letter-spacing: 2px;
  padding-left: 5px;
  padding: 0px;
  border-bottom: 1px solid #fff;
  margin-bottom: 4px;
  line-height: 10px;
}

.main-title {
  text-align: center;
  font: 11px arial;
  text-transform: uppercase;
  font: 10px arial;
  color: #262326;
  background: #f6d0d4;
  letter-spacing: 2px;
  padding-left: 5px;
  padding: 0px;
  border-bottom: 1px solid #fff;
  margin-bottom: 4px;
  line-height: 10px;
}

.content-title {
  text-align: center;
  font: 11px arial;
  text-transform: uppercase;
  color: #4a4f41;
  background: #c2c9b5;
  letter-spacing: 2px;
  padding-left: 5px;
  border-bottom: 1px solid #fff;
  line-height: 10px;
  margin-bottom: 4px;
}

.content-title-lowercase {
  text-align: center;
  font: 11px arial;
  color: #4a4f41;
  background: #c2c9b5;
  letter-spacing: 2px;
  padding-left: 5px;
  border-bottom: 1px solid #fff;
  line-height: 10px;
  margin-bottom: 4px;
}
