body {
  background: url(/Users/sofiatarn/workspace/dev-academy/doseoftheplagues.github.io/images/DSCN3803.JPEG);
  background-size: cover;
}

p {
  margin: 0 auto;
}

.header {
  margin: 0px auto;
  text-align: left;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 100;
  color: #eeeeee;
  border: 2px solid #eeeeee;
  background-color: #d5b2bb;
}

.navbar {
  text-align: left;
  font-size: 10px;
  color: #eeeeee;
  padding: 2px;
  border-left: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
  border-right: 2px solid #eeeeee;
  background-color: #d5b2bb;
  margin: 0px auto;
}

#page-layout {
  margin: 0px auto;
  padding: 10px;
  width: 612px;
  float: left;
}

#blog-layout {
  width: 503px;
  background-color: #f2e3e7;
  border-right: 3px solid #f1f1e3;
  border-bottom: 3px solid #f1f1e3;
  border-left: 3px solid #f1f1e3;
  margin: 0 auto;
  float: left;
  text-align: center;
}

#blog-header {
  width: max-content;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  display: flex;
  grid-column: 1 / 9;
  grid-row: 1 / 1;
  margin: 0 auto;
}

.blog-sidebar {
  width: 100px;
  background-color: #efe8da;
  border-left: 3px solid #f1f1e3;
  border-bottom: 3px solid #f1f1e3;
  margin: 0 px;
  float: left;
  text-align: left;
}

ul {
  padding-inline-start: 0;
}

li {
  border-bottom: 2px dotted #d5b2bb;
  text-indent: 2px;
  color: #b37e8b;
}

/* widescreen displays */
@media only screen and (min-width: 920px) {
  .container {
    /* some layout rules */
  }
}

/* tablets */
@media only screen and (max-width: 919px) {
  .container {
    /* some layout rules */
  }
}

/* phones */
@media only screen and (max-width: 400px) {
  .container {
    /* some layout rules */
  }
}
